.header {
  background-color: #ffffff;
  color: #0f0f0f;
  margin-top: -30px;
  text-align: center;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.form > input {
  width: 30%;
  padding: 10px;
  margin-left: 910px;
  margin-top: -15px;
  margin-bottom: 6px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.company {
  text-align: left;
  padding-top: 50px;
  padding-left: 40px;
  font-weight: 300;
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
  font-family: "Russo One", sans-serif;
  width: 100%;
  height: 100%;
}

svg text {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #365FA0;
  font-size: 100px;
}


@keyframes stroke {
  0% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }

  70% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
  }

  80% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-width: 3;
  }

  100% {
    fill: rgba(72, 138, 204, 1);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

/* .wrapper {background-color: #FFFFFF}; */